.alert__container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 16px;
    font-weight: bold;
}

.alert__container > div {
    padding: 1px 20px 1px 20px;
    border-radius: 5px;
    width: 200px;
    text-align: center;
    animation: fadeinout 4s linear 1 forwards;
}

.alert__positive {
    background-color: rgb(189, 247, 189);
    color: rgb(54, 145, 54);
}

.alert__negative {
    background-color: rgb(235, 162, 162);
    color: rgb(240, 80, 80);
}

@keyframes fadeinout {
    0% { opacity: 0; }
    25% { opacity: 1; }
    75% { opacity: 1; }
    100% { opacity: 0; }
  }