.toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #521571;
    height: 56px;

}

.toolbar__navigation {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
}

.toolbar__logo {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
}

.toolbar__item {
    height: 100%;
    width: 20%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.toolbar__item:hover,
.toolbar__item:active {
    color: #fa923f;
}

.toolbar__plus_zeichen {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: center;
}