.zutat__container {
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
}

.zutat__container ::placeholder {
    font-size: small;
    font-style: italic;
 }

.zutat__remove {
    display: flex;
    margin-right: 20px;
    width: 50px;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.zutat__quantity  {
    width: 10%;
}

.zutat__quantity > input {
    border: none;
    background: transparent;
    font-size: medium;
    text-align: center;
    padding: 0px;
    font-family: inherit;
    border-bottom: 1px solid grey;

    height: 100%;
    width: 60%;
    display: flex;
}

.zutat__unit {
    position: relative;
    width: 10%;
}

.zutat__unit > input {
    border: none;
    background: transparent;
    font-size: medium;
    text-align: center;
    padding: 0px;
    font-family: inherit;
    border-bottom: 1px solid grey;

    height: 100%;
    width: 60%;
    display: flex;
    font-size: medium;
}

.zutat__dropdown {
    position: absolute;
    z-index: 9;
    display: inline-block;
    background-color: rgb(216, 231, 236);
    border: 1px solid lightgrey;
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 150px;
    width: 100%;
}

.zutat__ingredient {
    position: relative;
    width: calc(80% - 120px);
}

.zutat__ingredient > input {
    border: none;
    background: transparent;
    font-size: medium;
    padding: 0px;
    font-family: inherit;
    border-bottom: 1px solid grey;

    height: 100%;
    width: 100%;
    display: flex;
    font-size: medium;
}

.zutat__dropdown {
    position: absolute;
    z-index: 7;
    display: inline-block;
    background-color: rgb(216, 231, 236);
    border: 1px solid lightgrey;
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 150px;
    width: 100%;
}

.zutat__dropdown_item {
    line-height: 30px;
    height:30px;
    font-size: small;
    white-space: nowrap;
}

.zutat__save {
    display: flex;
    width: 50px;
    height: 100%;
    align-items: center;
    justify-content: center;
}