.unit__container {
    width: 100%;
    margin-top: 10px;
}

.unit__name {
    width: 100%;
    height: 60px;
    margin-bottom: 0px;
    line-height: 60px;
    text-align: center;
    font-size: x-large;
    border-radius: 10px;
    background-color: rgb(194, 223, 233);
}

.unit__show_container {
    display: block;
    margin: auto;
    margin-top: 10px;
    justify-content: center;
    width: 95%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    background-color: rgb(239, 250, 255);
}
