.rezept {
    margin: 64px 0.5rem;
    width: 100% - 1rem;
}

.rezept__bild {
    max-width: 100%;
}

.rezept__header {
    margin-top: 1rem;
    width: 100%;
    height: 70px;
    display: flex;
}

.rezept__titel {
    font-size: x-large;
    display: flex;
    align-items: center;
    height: 100%;
    width: 80%;
}

.rezept__bearbeiten {
    height: 100%;
    width: 20%;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.rezept__beschreibung {

}

.rezept__einkauf {

}

.rezept__personen {

}

.rezept__hinzufügen {

}

.rezept__zutaten {

}

.table__header {
    margin-top: 1rem;
    font-weight: bold;
    font-size: large;
}

.rezept__zubereitung {
    margin-top: 2rem;
}
