.rezept__container {
    display: flex;
    height: 90px;
    width: 100%;
    border-bottom: solid grey 1px;
    align-items: center
}

.rezept__bild_container {
    display: flex;
    height: 100%;
    width:35%;
    background-color: white;
    align-items: center;
    justify-content: center;
}

.rezept__name_container {
    display: flex;
    height: 100%;
    width:55%;
    background-color: white;
    align-items: center;
}

.rezept__edit_container {
    display: flex;
    height: 100%;
    width:10%;
    background-color: white;
    align-items: center;
}