.einkauf_item__container {
    background-color: lightblue;
    display: flex;
    margin-top: 10px;
    padding-left: 10px;
    border-radius: 5px;
}

.einkauf_item__text {
    width: calc(100% - 50px);
    line-height: 50px;
}

.einkauf_item__delete {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
}