.rezept_name__container {
    
}

.rezept_name__ansicht_container {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
}

.rezept_name__text {
    width: 80%;
    display: flex;
    align-items: center;
    font-size: larger;
}

.rezept_name__edit {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 20%;
}

.rezept_name__edit_container {
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
}

.rezept_name__input {
    width: 80%;
    height: 50%;
    display: flex;
    align-items: center;
    font-size: larger;
}

.rezept_name__accept {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 20%;
}