.rezept_titel__container {
    margin: 0rem 1rem 0rem 1rem;
    width: calc(100% - 2rem);
}

.rezept_titel_editable {
    border-style: inset;
    background: transparent;
    font-size: medium;
    padding: 0px;
    padding-left: 0.5rem;
    font-family: inherit;

    width: calc(100% - 0.5rem);
    height: 50px;
    display: flex;
    align-items: center;
    font-size: x-large;
}

.rezept_titel_fixed {
    border-style: inset;
    border-width: 2px;
    border-color: transparent;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: x-large;
    padding-left: 0.5rem;
}

.rezept_titel__collapse {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;
    justify-content: center;
}

.rezept_titel__collapse_button {
    display: flex;
    align-items: center;
    width: 70%;
    height: 40px;
    justify-content: center;
    border: none;
    box-shadow: 0 0 5px -1px rgba(0,0,0,0.2);
    cursor:pointer;
    background: #4CAF50;
    color:white;
    font-size: 16px;
    text-decoration: none;
    border-radius: 10px;
}