.listitem__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.listitem__text {
    position: relative;
    width: 50%;
    height: 40px;
    line-height: 40px;
    align-items: center;
}

.listitem__button {
    display: flex;
    height: 100%;
    width: 40px;
    align-items: center;
    justify-content: center;
}

.listitem__text > input {
    border: none;
    background: transparent;
    font-size: medium;
    padding: 0px;
    font-family: inherit;

    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}